In [2]:
%reload_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
import exploring_script as es
import importlib
importlib.reload(es)
import matplotlib.pyplot as plt

In [36]:
# load all the observations of solar system candidate in Fink from the period between 1st of November 2019 and 29th of December 2022
candidate_sso = es.load_candidate_data(["objectId", "ssnamenr", "jd", "nid"])
candidate_sso_class = pd.read_parquet("sso_candidate_with_class.parquet")

In [37]:
count_night = candidate_sso[["ssnamenr", "nid"]].groupby("nid").count()
print("""
- Number of sso candidate per night :
    * median = {:,}
    * min = {:,}
    * max = {:,}
""".format(int(count_night.median().values[0]), count_night.min().values[0], count_night.max().values[0]))

- Number of sso candidate per night :
    * median = 308
    * min = 1
    * max = 12,889

In [53]:
t = candidate_sso_class.merge(candidate_sso, on="objectId").sort_values("jd", ascending=True).groupby("objectId").agg(
    fink_class=("fink_class", list),
    count_class=("fink_class", len)
).reset_index()

In [61]:
t[t["count_class"] > 1].sort_values("count_class")

,objectId,fink_class,count_class
225340,ZTF21abvwxhn,"[Solar System MPC, Solar System candidate]",2
192634,ZTF21abddsjy,"[Unknown, Solar System candidate]",2
264172,ZTF21abydnwb,"[Solar System MPC, Solar System candidate]",2
193032,ZTF21abdjbjr,"[Unknown, Solar System candidate]",2
232899,ZTF21abwqmil,"[Solar System candidate, Unknown]",2
...,...,...,...
245707,ZTF21abxgjzk,"[Unknown, SN candidate, SN candidate, SN candi...",284
280556,ZTF21abzlujs,"[Unknown, Unknown, Unknown, Unknown, Unknown, ...",288
326096,ZTF22aaomcpn,"[SN candidate, Ambiguous, Ambiguous, SN candid...",332
156641,ZTF21aafdxca,"[Unknown, Unknown, Unknown, Unknown, Unknown, ...",612
323514,ZTF22aamwznx,"[Unknown, SN candidate, Unknown, Unknown, Unkn...",1386